/* font for body and background after top page  google font epilogue */
body {
  font-family: "Epilogue", sans-serif;
  background-color: beige;
}
/* bootstrap customized css root and change bg-primary good enough or better? */
:root,
[data-bs-theme="dark"] {
  --bs-primary: rgb(4, 4, 10);
  --bs-primary-rgb: 0, 4, 53;
  --cs-primary-dark: #906500;
  --cs-primary-dark-rgb: 236, 192, 110;
  --bs-danger: rgba(192, 73, 5, 0.911);
  --bs-danger-rgb: 192, 73, 5;
  --cs-danger-dark: #bc6c27;
  --cs-danger-dark-rgb: 236, 192, 110;
}
/* bootstrap custom .bg-primary color from root */
.bg-primary {
  --bs-bg-color: var(--bs-primary);
  --bs-bg-color: var(--bs-primary);
  --bs-bg-color: var(--bs-primary);
}
/* bootstrap custom .bg-danger  and .btn-danger colour */
.btn .btn-danger {
  --bs-bg-color: var(--bs-danger);
  --bs-bg-color: var(--bs-danger);
  --bs-bg-color: var(--bs-danger);
}
.bg-danger {
  --bs-bg-color: var(--bs-danger);
  --bs-bg-color: var(--bs-danger);
  --bs-bg-color: var(--bs-danger);
}

/* quotation top page marginw */
.quo {
  margin-top: -20%;
}
/* unorder list bold the numbers display */
ol ::marker {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  font-size: 2.5rem;
}
/* unorder list vertical align and display inline-block */
li span {
  vertical-align: middle;
  display: inline-block;
}

/* unorder list remove bullet points  */
ul {
  list-style: none;
}

/* background image map */
.map-bg {
  background: white url(../images/desktopimg/largmap-1.png) no-repeat center
    center;
  background-size: cover;
}
